
{% extends 'main.html' %}

{% block content %}


<div>
    <h1>Rooms Page</h1>

    <b>
        <a href="/room/create_room">New Room</a>
    </b>
    <br />

{% for room in rooms  %}
    <a href="/room/{{room.id}}">{{room.id}}</a>
<strong>{{room.name}}</strong>

{% if room.host.username %}
<b><i>@{{room.host.username}}</i></b> 
<strong>-----</strong>
{% endif %}
<a href="{% url 'update_room' room.id %}">EDIT</a>

<a href="{% url 'delete_room' room.id %}">DELETE</a>

    
    <hr />
{% endfor %}

</div>

{% endblock content %}
